/* Overide of Tachyon classes */

.bg-dark-blue {
  background-color: #345c7e;
}

.bg-light-blue {
  background-color: #5fbac0;
}

.shadow-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h1 {
  font-family: 'Roboto', sans-serif;
}

svg {
  display: block;
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
  height: 70%;
}
.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 30%;
}

#title {
  margin: 0;
}

svg {
  display: block;
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
  height: 70%;
}
