
{{>searchbar}}

<div id="searchResults"
    class="search__results mw9 center">
  {{#each articles}}
  <div class="bg-white pa4 center br3 mb4">
    <div class="mw9 measure center">
    <img class="br2" src={{fields.thumbnail}}></img>
    </div>
    <div class="measure center">
    <h3 class="f4 f2-ns mt2 mb3">{{fields.headline}}</h3>
    <p class="f5 tj">{{fields.trailText}}</p>
    <form class"article_form" action="/visualize" method="POST">
      <input name="articleId" type="hidden" value={{id}}>
      <input class="article__btn
      input__reset bn shadow-1 bg-light-blue br3
      pa3 f5 white fw6 center" name="articleID" type="submit" value="Visualize">
    </form>
    </div>
  </div>
    {{/each}}
</div>
