{{>searchbar}}
<div id="searchResults" class="search__results">
  {{#each articles}}
    <img src={{image}}></img>
    <h3>{{headline}}</h3>
    <p>{{trailText}}</p>
    <form action="/visualize">
    <button type="submit">Visualize</button>
    </form>
    {{/each}}
</div>
