<div id="search">
  <form class="search__form" action="/articles" method="POST">
     <input class="search__input" type="text" name="search" placeholder="Search by
        keyword">
     <input type="submit" value="Submit">
  </form>
</div>
<div id="searchResults" class="search__results">
  {{#each articles}}
    <img src={{fields.thumbnail}}></img>
    <h3>{{fields.headline}}</h3>
    <p>{{fields.trailText}}</p>
    <form action="/visualize">
    <button type="submit">Visualize</button>
    </form>
    {{/each}}
</div>
