<div id="addTopics" class="w-100 tc">
  <form class="mb4 " action="/oauth/add" method="POST">
     <input class="input__reset br4 pa2" type="text" name="search" placeholder="Search by keyword">
     <input class="input__reset bn
            shadow-1 fw6 white br3 ml2
            pa2 pl3 pr3 bg-light-blue" type="submit"
     value="Add Topic">
  </form>
</div>

<div id="Topics" class="w-100 tc">

</div>

{{>sideMenu}}

<script src="./../js/main.js"></script>
<script src="./../js/sidemenu.js"></script>
