{{>searchbar}}

<div class="w-100 tc">
<form class="mb4 " action="/oauth/logout" method="GET">
   <input class="input__reset bn
          shadow-1 fw6 white br3 ml2
          pa2 pl3 pr3 bg-light-blue" type="submit"
   value="Logout">
</form>
</div>
