{{>sideMenu}}
<h2 class="tc mt5">"Oops, something went wrong. Please try again"</h2>

<div class="errorFormWrapper center tc mt5">
  <a href="/" class="error__btn
  input-reset bn shadow-1 bg-light-blue br3
  pa3 f5 white fw6 center no-underline">Main Page</a>
</div>
