
<div id="search">
  <form class="search__form">
     <input class="search__input" type="text" placeholder="Search by
        keyword">
     <button id="searchBtn" class="search__button" type="submit">Search</button>
  </form>
</div>
