
<div id="search">
  <form class="search__form" action="/articles" method="POST">
     <input name="search" id="searchInput" class="search__input" type="text" placeholder="Search by
        keyword">
     <input id="searchBtn" class="search_btn" type="submit" value="Search">
  </form>
</div>
