
<div id="search">
  <form class="search__form">
     <input class="search__input" type="text" placeholder="Search by
        keyword">
     <input class="search__button" type="submit">Search</input>
  </form>
</div>
