<div id="search">
  <form class="search__form" action="/articles" method="POST">
     <input class="search__input" type="text" name="search" placeholder="Search by
        keyword">
     <input type="submit" value="Submit">
  </form>
</div>
