<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,
      initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
      <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet">
      <style type="text/css" media="screen">
        svg{
          display: block;
          position: absolute;
          top: 5%; left:5%; width:90%; height:90%;
        }
        </style>
      <link rel="stylesheet"
            href="/css/style.css"/>
      <title>NERV</title>
</head>
<h1>THIS IS THE VISUALIZE PAGEE</h1>
<svg width="100%" height="100%" border="1px"></svg>

<script src="https://d3js.org/d3.v4.js"></script>
<script src="./js/main.js"></script>
<script src="./js/visualize.js"></script>
