{{>header}}

<h1>THIS IS THE VISUALIZE PAGE</h1>
<svg width="100%" height="100%"></svg>

<script src="https://d3js.org/d3.v4.js"></script>
<script src="./js/main.js"></script>
<script src="./js/visualize.js"></script>
