<div id="search" class="w-100 tc">
  <form class="mb4 " action="/articles" method="POST">
     <input class="input__reset br4 pa2" type="text" name="search" placeholder="Search by keyword">
     <input class="input__reset bn
            shadow-1 fw6 white br3 ml2
            pa2 pl3 pr3 bg-light-blue" type="submit"
     value="Go!">
  </form>
</div>
