<div id="mySidenav" class="z-1 vh-85 w-70 bg-white absolute top-0 left-0 shadow-5">
  <div id="topNav" class="vh-25 pt4 bg-dark-blue">
    <p class="f3 pl4">Mario, Welcome!</p>
  </div>
  <div id="bottomNav" class="vh-50 pt4 pl5 flex flex-column">
    <!-- <a href="javascript:void(0)" class="f3 pl5" onclick="closeNav()">&times;</a><br> -->
    <a href="#" class="f3 mt1 mb4 no-underline black">Dashboard</a>
    <a href="#" class="f3 no-underline black">Logout</a>
  </div>
</div>
