<div id="mySidenav" class="sidenav z-1 h-100 bg-dark-grey">
  <div id="topNav">
    <p>Mario, Welcome!</p>
  </div>
  <div id="bottomNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Dashboard</a>
    <a href="#">Logout</a>
  </div>
</div>
