<div id="mySidenav" class="z-1 vh-85 w-70 bg-white absolute top-0 left-0">
  <div id="topNav" class="vh-25 ba pa">
    <p class="f3 tc">Mario, Welcome!</p>
  </div>
  <div id="bottomNav">
    <!-- <a href="javascript:void(0)" class="f3 pl5" onclick="closeNav()">&times;</a><br> -->
    <a href="#" class="f3 pl5 pb5">Dashboard</a><br>
    <a href="#" class="f3 pl5">Logout</a>
  </div>
</div>
