<div id="mySideMenu" class="z-1 vh-85 w-70 mw5-ns bg-white absolute top-0 left-0 shadow-5">
  <div id="topMenu" class="vh-25 pt3 bg-dark-blue">
    <div class="flex">
    <p class="white f2 b mt1 mw7 mb4 center">NERV</h1>
    <a href="javascript:void(0)" id="close" class="f2 pl5 no-underline white">&times;</a><br>
    </div>
    <p class="f4 pl4 white">Mario, Welcome!</p>
  </div>
  <div id="bottomMenu" class="vh-50 pt4 pl5 flex flex-column">
    <a href="#" class="f3 mt1 mb4 no-underline black">Dashboard</a>
    <a href="#" class="f3 mt1 mb4 no-underline black">Settings</a>
    <a href="#" class="f3 mt1 mb4 no-underline black">Notification</a>
    <a href="#" class="f3 no-underline black">Logout</a>
  </div>
</div>
