<!DOCTYPE html>
<html lang="en">
    {{>header}}
    <body class="bg-dark-blue w-100 center pa4 ph5-ns">
        <main class="main">
        <h1 class="white f1 mt2 mw7 center">NERV</h1>
        {{{ body }}}
        </main>
        <script src="./main.js"></script>
    </body>
</html>
